<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="socialMedia-Container">
      <div class="SocialMedia-group">
        <div class="socialMedia-items">
          <ion-icon class="socialMedia-icons" name="logo-facebook"></ion-icon>
          <label for="">Facebook</label>
        </div>
        <div class="socialMedia-items">
          <ion-icon class="socialMedia-icons" name="logo-whatsapp"></ion-icon>
          <label for="">Whatsapp</label>
        </div>
      </div>
      <div class="SocialMedia-group">
        <div class="socialMedia-items">
          <ion-icon class="socialMedia-icons" name="logo-twitter"></ion-icon>
          <label for="">Twitter</label>
        </div>
        <div class="socialMedia-items">
          <ion-icon class="socialMedia-icons" name="logo-instagram"></ion-icon>
          <label for="">Instagram</label>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
