.section-booking-container{
    display: flex;
    align-items: center;
    height: 79%;
    background-color: #720a80;
    flex-direction: column;
    justify-content: space-around;

        .booking-options{
            display: flex;
            flex-direction: column;
        }
  }
