
<ion-content>
  <app-headers></app-headers>
<div class="section-aboutUs-container">
    <ion-label>POR FAVOR ESCOGE</ion-label>

  <div>
    <ion-button>IR AL TALLER</ion-button>
    <ion-label>de 8:00 AM a 6:00 PM</ion-label>
  </div>

  <label for="">¿No tienes tiempo? vamos a tu casa</label>

  <div>
    <ion-button>SERVICIO A DOMICILIO</ion-button>
    <ion-label>Vamos a tu domicilio según la hora que nos indiques, dentro del horario de trabajo</ion-label>
  </div>

  <div class="botonera">
    <ion-button>ATRÁS</ion-button>
    <ion-button>SIGUIENTE</ion-button>
  </div>
</div>
</ion-content>
<app-footer></app-footer> 
