<ion-header class="header">
  <div class="header_container">
    <div class="header_logo">
      <label class="logo-title">LOGO</label>
    </div>
    <div class="header_titles">
      <ion-label class="header-title-1">Clínica de ropa y taller de confección.</ion-label>
      <ion-label class="header-title-2">Elizabeth</ion-label>
    </div>
  </div>
</ion-header>
  <div class="dividing-line"></div>
<div class="navigation_container">
  <ion-segment class="navigation_segments" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button class="segments-button" value="1" layout="icon-start">
      <ion-icon class="segments-icons" name="ribbon-outline"></ion-icon>
      <ion-label class="segments-title">QUIÉNES SOMOS</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segments-button" value="2" layout="icon-start">
      <ion-icon class="segments-icons" name="bag-check-outline"></ion-icon>
      <ion-label class="segments-title">NUESTRO TRABAJO</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segments-button" value="3" layout="icon-start">
      <ion-icon class="segments-icons" name="today-outline"></ion-icon>
      <ion-label class="segments-title">AGENDATE</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
