.container{
    height: 75%;
    width: 100%;
    // margin-top: 30px;
    background-color: #ffffff;
}
.container-nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #720a80;
    margin-top: 30px;

        .nav-title{
            font-size: 16px;
            color: white;
            margin-left: 10px;
        }

        .nav-icons{
            font-size: 20px;
            color: white;
            margin-right: 10px;
        }
}
.gallery{
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;

        .gallery-cards{
            height: 150px;
            width: 150px;
            box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.54);
        }

        .cards-img{
            object-fit: cover;
        }
}