<ion-content>
  <app-header></app-header>
  <div class="container">
    <div class="container-nav">
      <ion-label class="nav-title">
        CONFECCIONES
      </ion-label>
      <ion-icon class="nav-icons" name="menu-outline"></ion-icon>
    </div>
    <div class="gallery">
      <ion-card class="gallery-cards">
        <img class="cards-img" src="../../assets/aboutus/vestido1.jpg" />
      </ion-card>

      <ion-card class="gallery-cards">
        <img class="cards-img" src="" />
      </ion-card>

      <ion-card class="gallery-cards">
        <img class="cards-img" src="../../assets/aboutus/vestido2.jpg" />
      </ion-card>

      <ion-card class="gallery-cards">
        <img class="cards-img" src="../../assets/aboutus/vestido1.jpg" />
      </ion-card>
    </div>
  </div>
</ion-content>
<app-footer></app-footer> 
