<ion-content>
  <app-headers></app-headers>
<div class="section-booking-container">
    <ion-label class="container-title">SERVICIO A DOMICILIO</ion-label>

  <div class="booking-options">
    <ion-button color="light" shape="none" class="booking-botom">IR AL TALLER</ion-button>
    <ion-label class="bookin-text">(de 8:00 AM a 6:00 PM)</ion-label>
  </div>

  <label for="">¿No tienes tiempo? vamos a tu casa</label>

  <div class="booking-options">
    <ion-button color="light" shape="round" class="booking-botom">SERVICIO A DOMICILIO</ion-button>
    <ion-label class="bookin-text">(Vamos a tu domicilio según la hora que nos indiques, dentro del horario de trabajo)</ion-label>
  </div>

  <div class="action-buttons">
    <ion-button color="light" shape="none" class="buttons-action">ATRÁS</ion-button>
    <ion-button color="light" shape="none" class="buttons-action">SIGUIENTE</ion-button>
  </div>
</div>
</ion-content>
<app-footer></app-footer> 
