
<ion-content>
  <app-header></app-header>
<div class="section-aboutUs-container">
  <div class="abotUS-title">
    <ion-label>QUIÉNES SOMOS</ion-label>
  </div>
  <div class="abotUs-text">
    <ion-text>
      <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque blanditiis tempore placeat soluta rerum aliquid, in voluptatum ex, eaque cumque vitae recusandae doloribus. Quis tempora magnam, a sunt distinctio repellat.</h4>
    </ion-text>
  </div>
</div>
</ion-content>
<app-footer></app-footer> 
