
<ion-content>
  <app-header></app-header>
<div class="section-aboutUs-container">
  <div class="abotUS-title">
    <ion-label>QUIÉNES SOMOS</ion-label>
  </div>
  <div class="abotUs-text">
    <ion-text>
      <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque blanditiis tempore placeat soluta rerum aliquid, in voluptatum ex, eaque cumque vitae recusandae doloribus. Quis tempora magnam, a sunt distinctio repellat.</h4>
    </ion-text>
  </div>
</div>

<!-- <div class="footer">
  <div class="SocialMedia">

  </div>
</div> -->
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="socialMedia-Container">
      <div>
        <ion-icon name="logo-facebook"></ion-icon>
        <label for="">Facebook</label>
      </div>
      <div>
        <ion-icon name="logo-whatsapp"></ion-icon>
        <label for="">Whatsapp</label>
      </div>
      <div>
        <ion-icon name="logo-twitter"></ion-icon>
        <label for="">Twitter</label>
      </div>
      <div>
        <ion-icon name="logo-instagram"></ion-icon>
        <label for="">Instagram</label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
