.section-aboutUs-container{
  height: 50%;
  // margin-top: 10%; pendiente a cambio de mi hermana
  background-color: #720a80;

      .abotUS-title{
        padding: 25px;
        color: #ffffff;
        width: 100%;
      }

      .abotUs-text{
        color: #ffffff;
        padding: 25px;
        font-size: 12px;
      }
}
.socialMedia-Container{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 20px;


      .socialMedia-items{
        display: flex;
        margin-top: 20px;
        font-size: 15px;
        align-items: flex-end;
        font-weight: bold;
        gap: 6px;

          .socialMedia-icons{
            font-size: 30px;
          }
      }
}
